<script id='default-content-tmpl' type="text/x-jquery-tmpl">
  <div id='default-content'>
    <div id='photo-1' class='photo'>Photo 1</div>  
    <div id='photo-2' class='photo'>Photo 2</div>  
    <div id='photo-3' class='photo'>Photo 3</div>  
    <div id='photo-4' class='photo'>Photo 4</div>  
    <div id='photo-5' class='photo'>Photo 5</div>  
  </div>
</script>
