<script id='new-form-tmpl' type="text/x-jquery-tmpl">
  <form id='new-form'>
    <label for='form_first_name'>First name</label>
    <input type='text' id='form_first_name' name="form[first_name]"></input>

    <label for='form_last_name'>Last name</label>
    <input type='text' id='form_last_name' name="form[last_name]"></input>

    <button id='submit-new-form'>Submit</button>
  </form>
</script>
  
