#nav 
  #menu
    %ul
      %li{:class => 'title'} 
        %a{:href => '/'} 761 Bay Street
      %li 
        %a{:class => 'nav-link', :"data-remote" => 'true', :"data-method" => 'get', :href => 'forms/new'} Apply
      %li 
        %a{:class => 'nav-link', :"data-remote" => 'true', :"data-method" => 'get', :href => 'photos'} Photos

#content

:javascript
  $j('.nav-link').click(function(){
    $j('.nav-link').parent().removeClass('nav-selected');
    $j(this).parent().addClass('nav-selected');  
    $j('#content').addClass('content-selected');  
  });
