<script id='new-form-tmpl' type="text/x-jquery-tmpl">
  <form id='new-form'>
    <div id='section-name'>
      <div class='label'>Name:</div>
      <input type='text' id='form_first_name' name="form[first_name]" placeholder='First' style='width:200px'/>
      <input type='text' id='form_last_name' name="form[last_name]" placeholder = 'Last' style='width:300px'/>
    </div>

    <div id='section-address'>
      <div class='label'>Current Address:</div>
      <div>
        <input type='text' id='form_street' name="form[street]" placeholder='Street and number' style='width:200px;'/>
        <input type='text' id='form_appt_no' name="form[appt_no]" placeholder='(Apt. #)' style='width:300px;'/>
      </div>

      <div>
        <input type='text' id='form_city' name="form[city]" placeholder='City' style='width:200px;'/>
        <input type='text' id='form_province' name="form[province]" placeholder='Province' style='width:148px'/>
        <input type='text' id='form_postal' name="form[postal]" placeholder='Postal code' style="width:148px"/>
      </div>
    </div>

    <div id='section-submit'>
      <input type='button' id='submit-new-form' value='Submit'/>
    </div>
  </form>
</script>
  
